:root {
  --text: #ffb000;
  --header: #ffcc00;
  --highlight: #ffb000;
  --dim: #3d3000;
  --background: #0c0c0c;
}

@font-face {
  font-family: "fixedsys";
  src: url(/fonts/FSEX302.ttf);
}

body {
  background-color: var(--background);
  color: var(--header);
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "fixedsys";
  display: flex;
  flex-direction: column;
}
a {
  font-style: italic;
  color: var(--dim);
}
a:hover {
  color: var(--highlight);
}
fieldset {
  border: 2px solid var(--dim);
  border-radius: 2px;
  color: var(--header);
  margin-bottom: 10px;
}
fieldset:hover {
  border-color: var(--highlight);
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text);
}
h3 {
  color: var(--header);
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  width: 100%;
  text-align: center;
  margin: auto;
}
h2 {
  margin: 0;
}

#cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

#title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#hamburger {
  display: none;
  position: absolute;
  right: 20px;
  color: var(--header);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 11;
}
#mobile-menu {
  display: none;
  position: fixed;
  top: 16;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.98);
  z-index: 10;
  padding: 20px;
  overflow-y: auto;
}
#mobile-menu.open {
  display: block;
}
#mobile-menu .left-content {
  display: none;
}
#close-menu {
  color: var(--header);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #hamburger {
    display: block;
  }
  #right {
    display: none;
  }
}

@media (max-width: 428px) {
  #left {
    display: none;
  }
  #mobile-menu .left-content {
    display: block;
  }
}

#wrapper {
  display: flex;
  justify-content: center;
}

#left {
  width: 200px;
}
.time {
  display: flex;
  justify-content: center;
}

#center {
  width: 800px;
}
#about {
  width: 100%;
  overflow: auto;
}
#me {
  width: 33%;
  float: left;
}
#favorites {
  width: 33%;
  float: left;
}

#right {
  width: 200px;
}
.contact {
  list-style-type: none;
}

#bottom {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.crt:before,
.crt:after {
  content: "";
  pointer-events: none;
  mix-blend-mode: overlay;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.crt:before {
  background: repeating-linear-gradient(
    rgba(218, 49, 49, 0.5) 0px,
    rgba(112, 159, 115, 0.5) 2px,
    rgba(40, 129, 206, 0.5) 4px
  );
}

.crt:after {
  background: repeating-linear-gradient(
    90deg,
    rgba(218, 49, 49, 0.5) 1px,
    rgba(112, 159, 115, 0.5) 2px,
    rgba(40, 129, 206, 0.5) 3px
  );
}
